<div class="modal-content" ng-controller="ClassRoomPageCtrl as ctrl" ng-init="ctrl.buildContainersToBeSelectedTree()">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" aria-label="Close">
      <em class="ion-ios-close-empty sn-link-close"></em>
    </button>
    <h4 class="modal-title">Schedual Class Room</h4>
  </div>
  <div class="modal-body">
    <!-- <div dx-tree-view="ctrl.schedualClassRoomOptions"></div>   $dismiss() -->
    <h3 class="form-section">Assign Class Room To Container</h3>
        <div id="classRoomToContainer" class="tree-demo"> </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="ctrl.assignContainerToPeriod()">Save changes</button>
  </div>
</div>
