<div class="widgets">
	<div class="row">
		<div class="col-md-12">
			<div ba-panel ba-panel-title="Simply Set Schedual Structure For ClassRoom..."
				ba-panel-class="with-scroll">
				<div include-with-scope="app/pages/containers/widgets/classRoomSchedual.html"></div>
			</div>
		</div>
	</div>
</div>
