<!-- <div class="widgets">
	<div class="row">
		<div class="col-md-12">
			<div ba-panel-class="with-scroll">
				<div include-with-scope="app/pages/containers/widgets/newSchedualStructure.html"></div>
			</div>
		</div>
	</div>
</div> -->
