<div class="widgets">
	<div class="row">
		<div class="col-md-12">
			<div ba-panel ba-panel-title="Simply Add Container Info tahnks..."
				ba-panel-class="with-scroll">
				<div include-with-scope="app/pages/containers/widgets/newSystemInstance.html"></div>
			</div>
		</div>
	</div>
</div>
