#range-interface {overflow:hidden;width:1030px;height:25px;position:relative;background:#ccc;box-shadow:0px 0px 11px #000}

.section {
	position:fixed;
	opacity:.85;
	height:75px;
	padding: 0 0px 50px 0px !important;
}

.section .dragbar{
   background-color:black;
   height:100%;
   float: left;
   width: 5px;
   cursor: col-resize;
}

.section .section-body {
	height:100%;
	cursor:grab;
	cursor:-webkit-grab;
	cursor:-moz-grab;
	background: repeating-linear-gradient(
				  45deg,
				  #606dbc,
				  #606dbc 10px,
				  #465298 10px,
				  #465298 20px
				);
}

.section.dragging {
	z-index:999;
}

.section.dragging .section-body {
	cursor:grabbing;
	cursor:-webkit-grabbing;
	cursor:-moz-grabbing;
}

.section.selected .section-body {
	background: repeating-linear-gradient(
			  45deg,
			  #ECF57E,
			  #ECF57E 10px,
			  #CCD470 10px,
			  #CCD470 20px
			);
}
