<div class="row" data-ng-controller="SchedualStructurePageCtrl as ctrl">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body"  data-ng-init="ctrl.fetchAllSchedualStructures()">
                <table class="table table-bordered table-hover table-checkable order-column" id="listUsers">
                    <thead>
                        <tr>
                      		<th> ID </th>
                            <th> Schedual Structure Name</th>
                            <th>Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="s in ctrl.schedualStructuresArray">
                            <td> <span data-ng-bind="s.id"></span></td>
                            <td> {{s.name}} </td>
                            <td>
    			                    <button type="button" ui-sref="dashboard.schedualStructure.updateSchedualStructure({ updateSchedualStructureID: s.id })"
    			                    class="btn btn-circle green-haze btn-sm">Update</button>
                              <button type="button" ui-sref="dashboard.schedualStructure.updateSchedualStructurePeriods({ updateSchedualStructurePeriodsBySSID: s })"
    			                    class="btn btn-circle green-haze btn-sm">Periods</button>
			                     </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
