
<link rel="stylesheet" type='text/css' href="app/pages/schedualStructure/css/styles.css" />

<div class="demo-container" ng-controller="SchedualStructurePageCtrl as ctrl"
ng-init="ctrl.initMySchedual()">
        <div id="mySchedual" dx-scheduler="schedulerOptionsMySchedual" after-render="missionCompled"></div>
        <div class="options">
            <div class="caption">Options</div>
            <div class="option switcher-mode">
                <span>View Switcher Mode</span>
                <div dx-select-box="useDropDownViewSwitcherOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowAddingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowUpdatingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowDeletingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowResizingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowDraggingOptions"></div>
            </div>
        </div>
    </div>
