
<link rel="stylesheet" type='text/css' href="app/pages/schedualStructure/css/styles.css" />

<div class="demo-container" ng-controller="SchedualStructurePageCtrl as ctrl" ng-init="ctrl.initNewSchedualStructurePeriodsForm()">
  <form name="schedualStructure" role="form">

      <div ba-panel ba-panel-title={{ctrl.schedualStructure.name}}></div>

        <div id="schedulerContainer" dx-scheduler="schedulerOptions"  after-render="missionCompled"></div>
        <div class="options">
            <div class="caption">Options</div>
            <div class="option switcher-mode">
                <span>View Switcher Mode</span>
                <div dx-select-box="useDropDownViewSwitcherOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowAddingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowUpdatingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowDeletingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowResizingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowDraggingOptions"></div>
            </div>
        </div>
    </form>
    </div>
