
<link rel="stylesheet" type='text/css' href="app/pages/schedualStructure/css/styles.css" />

<div class="demo-container" ng-controller="SchedualStructurePageCtrl as ctrl" ng-init="ctrl.initNewSchedualStructureForm()">
  <form name="schedualStructure" role="form"  ng-submit="ctrl.createSchedualStructure()">

        <md-content layout-padding style="padding: 8px 8px 43px;">
          <md-input-container style="width: 35%;">
            <label>Schedual Structure Name</label>
            <input required name="sSName" ng-model="ctrl.schedualStructure.name">
            <div ng-messages="schedualStructure.sSName.$error">
              <div ng-show="schedualStructure.sSName.$error.required" ng-message="required">
                Schedual Structure Name is required.</div>
            </div>
          </md-input-container>
        </md-content>

        <!-- <div id="schedulerContainer" dx-scheduler="schedulerOptions" after-render="missionCompled"></div>
        <div class="options">
            <div class="caption">Options</div>
            <div class="option switcher-mode">
                <span>View Switcher Mode</span>
                <div dx-select-box="useDropDownViewSwitcherOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowAddingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowUpdatingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowDeletingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowResizingOptions"></div>
            </div>
            <div class="option">
                <div dx-check-box="allowDraggingOptions"></div>
            </div>
        </div> -->
        <div>
          <md-button type="submit">Submit</md-button>
        </div>
    </form>
    </div>
