<link rel="stylesheet" type='text/css' href="app/pages/schedualStructure/css/styles.css" />

<div ng-controller="ClassRoomCtrl as ctrl" layout="column" data-ng-init="ctrl.initClassRoomSchedualForm()" ng-cloak>
  <div layout-gt-sm="row" style="padding-bottom:50px;" >
    <md-content layout-padding style="width: 30%;">
    <md-select ng-model="ctrl.selectedSchedualStructure" ng-change="ctrl.updateSchedualSections()"
    aria-label="Schedual Structure" placeholder="Not Selected" >
      <md-optgroup label="Schedual Structures">
        <md-option ng-value="schedualStructure" ng-repeat="schedualStructure in ctrl.schedualStructureList">
          {{schedualStructure.name}}
        </md-option>
      </md-optgroup>
    </md-select>
  </md-input-container>
  </div>
  <div class="demo-container"  >

          <div id="schedulerClassRoomSectionProps" dx-scheduler="schedulerClassRoomSectionPropsOptions" after-render="schedulerClassRoomSectionPropsMissionCompled"></div>
          <div class="options">
              <div class="caption">Options</div>
              <div class="option switcher-mode">
                  <span>View Switcher Mode</span>
                  <div dx-select-box="useDropDownViewSwitcherOptions"></div>
              </div>
              <div class="option">
                  <div dx-check-box="allowAddingOptions"></div>
              </div>
              <div class="option">
                  <div dx-check-box="allowUpdatingOptions"></div>
              </div>
              <div class="option">
                  <div dx-check-box="allowDeletingOptions"></div>
              </div>
              <div class="option">
                  <div dx-check-box="allowResizingOptions"></div>
              </div>
              <div class="option">
                  <div dx-check-box="allowDraggingOptions"></div>
              </div>
          </div>

      </div>
</div>




<!-- <div ng-controller="ClassRoomPageCtrl as ctrl" layout="column" ng-cloak class="md-inline-form" data-ng-init="ctrl.initClassRoomSchedualForm()">

  <md-content layout-padding>
    <div>
      <form name="userForm">

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>City</label>
            <input ng-model="user.city">
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>State</label>
            <md-select ng-model="user.state">
              <md-option ng-repeat="state in states" value="{{state.abbrev}}">
                {{state.abbrev}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Postal Code</label>
            <input name="postalCode" ng-model="user.postalCode" placeholder="12345"
                   required ng-pattern="/^[0-9]{5}$/" md-maxlength="5">

            <div ng-messages="userForm.postalCode.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a postal code.</div>
              <div ng-message="pattern" class="my-message">That doesn't look like a valid postal
                code.
              </div>
              <div ng-message="md-maxlength" class="my-message">
                Don't use the long version silly...we don't need to be that specific...
              </div>
            </div>
          </md-input-container>
        </div>

      </form>
    </div>
  </md-content>

</div> -->
