<div class="md-dialog-content" ng-controller="ContainersPageCtrl as ctrl" ng-init="ctrl.initNewContainerGoals()">
  <div class="modal-body">
  <div layout-gt-xs="row">
    <md-input-container flex="50">
      <label>Goal Name</label>
      <input required name="goalName" ng-model="ctrl.goal.name">
      <div ng-messages="goalName.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>

   <md-select flex="50"  ng-model="ctrl.goal.parentGoal" required="ctrl.parentContainerGoalsList.length() > 0" aria-label="parent container goals list" placeholder="Not Selected">
     <md-optgroup label="Goals">
       <md-option ng-value="parentGoal" ng-repeat="parentGoal in ctrl.parentContainerGoalsList">
         {{parentGoal.name}}
       </md-option>
     </md-optgroup>
   </md-select>
  </div>
   <table class="table table-hover" st-table="ctrl.test" st-safe-src="allGoals">
     <thead>
     <tr>
       <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
     </tr>
     <tr class="sortable">
       <th st-sort="name">Goal Name</th>
       <th st-sort="role">Parent Goal Name</th>
     </tr>
     </thead>
     <tbody>
       <tr ng-repeat="goal in ctrl.test" class="editable-tr-wrap">
         <td><span>{{goal.name}}</span></td>
         <td><span>{{goal.parentGoal.name}}</span></td>
     </tr>
     </tbody>
     <tfoot>
     <tr>
       <td colspan="6" class="text-center">
         <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
       </td>
     </tr>
     </tfoot>
   </table>


   </div>
 <div class="modal-footer">
   <button type="button" class="btn btn-primary" ng-click="ctrl.saveContainerGoal()">Save changes</button>
 </div>
</div>
