<div  ng-controller="ContainersPageCtrl as ctrl" layout="column" data-ng-init="ctrl.configureCourseTree()">
<div>
  <button type="button" class="btn btn-circle green-haze btn-sm" ng-click="ctrl.showNewTreeNodeDialog()">Add Tree Node</button>
  <button type="button" class="btn btn-circle green-haze btn-sm" ng-click="ctrl.showEditTreeNodeDialog()">Edite Tree Node</button>
  <button type="button" class="btn btn-circle green-haze btn-sm" ng-click="ctrl.deleteTreeNode()">Delete Tree Node</button>
</div>

<div id="courseTree" class="tree-demo"> </div>

<div>
<button type="button" class="btn btn-circle green-haze btn-sm" ng-click="ctrl.saveCourseContent()">Save Course Content</button>
</div>

<div style="visibility: hidden">
  <div class="md-dialog-container" id="courseNewTreeNode">
    <md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Class Room Section</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="ctrl.closeSectionDialog()">
            <md-icon class="ion-ios-close-empty sn-link-close" aria-label="Close dialog"></md-icon>
          </md-button>

          <button type="button" class="close" ng-click="ctrl.closeSectionDialog()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
          </button>

        </div>
      </md-toolbar>
      <md-dialog-content>
        <md-content layout-padding>
              <div layout="row">
              <md-input-container>
                <label>Node Name</label>
                <input required name="NodeName" ng-model="ctrl.node.name">
                <div ng-messages="NodeName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
            <div>
              <md-button  ng-click="ctrl.newTreeNode()">Submit</md-button>
            </div>
          </md-content>
      </md-dialog-content>
    </md-dialog>
  </div>
</div>


<div style="visibility: hidden">
  <div class="md-dialog-container" id="courseEditTreeNode">
    <md-dialog>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Class Room Section</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="ctrl.closeSectionDialog()">
            <md-icon class="ion-ios-close-empty sn-link-close" aria-label="Close dialog"></md-icon>
          </md-button>

          <button type="button" class="close" ng-click="ctrl.closeSectionDialog()" aria-label="Close">
            <em class="ion-ios-close-empty sn-link-close"></em>
          </button>

        </div>
      </md-toolbar>
      <md-dialog-content>
        <md-content layout-padding>
              <div layout="row">
              <md-input-container>
                <label>Node Name</label>
                <input required name="NodeName" ng-model="ctrl.node.name">
                <div ng-messages="NodeName.$error">
                  <div ng-message="required">This is required.</div>
                </div>
              </md-input-container>
            </div>
            <div>
              <md-button  ng-click="ctrl.editTreeNode()">Submit</md-button>
            </div>
          </md-content>
      </md-dialog-content>
    </md-dialog>
  </div>
</div>
</div>
