<div class="row" data-ng-controller="ContainersPageCtrl as ctrl">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body"  data-ng-init="ctrl.fetchAllContainers()">
                <table class="table table-bordered table-hover table-checkable order-column" id="listContainers">
                    <thead>
                        <tr>
                      		<th style="width: 3%;">ID.</th>
							<th style="width: 19%;">Container Name</th>
							<th style="width: 19%;">Parent Container Name</th>
							<th style="width: 15%;">Container Type</th>
							<th style="width: 10%;">Suspended</th>
							<th style="width: 30%;">Address</th>
							<th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="c in ctrl.containers">
                            <td><span data-ng-bind="c.id"></span></td>
							<td><span data-ng-bind="c.name"></span></td>
							<td><span data-ng-bind="c.parentContainer.name"></span></td>
							<td><span data-ng-bind="c.containerType.name"></span></td>
							<td><span data-ng-bind="c.suspended"></span></td>
							<td><span data-ng-bind="c.address"></span></td>
							<td>
			                    <button type="button" ui-sref="dashboard.containers.updateContainer({ updateContainer: c })"
			                    class="btn btn-circle green-haze btn-sm">Update</button>
			                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
