<div class="row" data-ng-controller="ContainersPageCtrl as ctrl">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body"  data-ng-init="ctrl.fetchAllCourses()">
                <table class="table table-bordered table-hover table-checkable order-column" id="listCourses">
                    <thead>
                        <tr>
                      		<th style="width: 3%;">ID.</th>
            							<th style="width: 19%;">Course Name</th>
            							<th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="c in ctrl.coursesList">
                          <td><span data-ng-bind="c.id"></span></td>
            							<td><span data-ng-bind="c.name"></span></td>
            							<td>
  			                    <button type="button" ui-sref="dashboard.containers.updateCourse({ updateCourseID: c.id })"
  			                    class="btn btn-circle green-haze btn-sm">Update</button>
                            <button type="button" ui-sref="dashboard.containers.courseGoals({ assignNewGoalToContainer: c })"
  			                    class="btn btn-circle green-haze btn-sm">Course Goals</button>
                            <button type="button" ui-sref="dashboard.containers.courseTree({ createCourseTree: c })"
  			                    class="btn btn-circle green-haze btn-sm">Course Tree</button>
			                    </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
