<div class="row" data-ng-controller="ContainerTypesPageCtrl as ctrl">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body"  data-ng-init="ctrl.fetchAllSystemInstanceTypes()">
                <table class="table table-bordered table-hover table-checkable order-column" id="listContainerTypes">
                    <thead>
                        <tr>
                      		<th style="width: 3%;">ID.</th>
							<th style="width: 25%;">Container Type Name</th>
							<th style="width: 30%;">Description</th>
							<th style="width: 25%;">Parent Container Type Name</th>
							<th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="c in ctrl.containerTypes">
                            <td><span data-ng-bind="c.id"></span></td>
							<td><span data-ng-bind="c.name"></span></td>
							<td><span data-ng-bind="c.description"></span></td>
							<td><span data-ng-bind="c.parentContainer.name"></span></td>
							<td>
			                    <button type="button" ui-sref="dashboard.containers.updateSystemInstanceType({ updateSystemInstanceType: c })"
			                    class="btn btn-circle green-haze btn-sm">Update</button>
			                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
