<div class="row" data-ng-controller="ContainersPageCtrl as ctrl">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body"  data-ng-init="ctrl.fetchAllSystemInstances()">
                <table class="table table-bordered table-hover table-checkable order-column">
                    <thead>
                        <tr>
                      		<th style="width: 3%;">ID.</th>
							<th style="width: 19%;">System Instances Name</th>
							<th style="width: 19%;">Parent Name</th>
							<th style="width: 15%;">Type</th>
							<th style="width: 10%;">Suspended</th>
							<th style="width: 20%;">Address</th>
							<th style="width: 20%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="systemInstance in ctrl.systemInstancesList">
                            <td><span data-ng-bind="c.id"></span></td>
							<td><span data-ng-bind="systemInstance.name"></span></td>
							<td><span data-ng-bind="systemInstance.parentContainer.name"></span></td>
							<td><span data-ng-bind="systemInstance.containerType.name"></span></td>
							<td><span data-ng-bind="systemInstance.suspended"></span></td>
							<td><span data-ng-bind="systemInstance.address"></span></td>
							<td>
			                    <button type="button" ui-sref="dashboard.containers.updateSystemInstance({ updateSystemInstance: systemInstance })"
			                    class="btn btn-circle green-haze btn-sm">Update</button>
                          <button type="button" ui-sref="dashboard.containers.systemInstanceGoals"
			                    class="btn btn-circle green-haze btn-sm">Goals</button>
			                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
