<div class="row" data-ng-controller="ClassRoomCtrl as ctrl">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body"  data-ng-init="ctrl.fetchAllClassRooms()">
                <table class="table table-bordered table-hover table-checkable order-column" id="listClassRooms">
                    <thead>
                        <tr>
                      		<th style="width: 3%;">ID.</th>
            							<th style="width: 19%;">Class Room Name</th>
            							<th style="width: 10%;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="c in ctrl.classRoomsList">
                          <td><span data-ng-bind="c.id"></span></td>
            							<td><span data-ng-bind="c.name"></span></td>
            							<td>
  			                    <button type="button" ui-sref="dashboard.containers.updateClassRoom({ updateClassRoom: c })"
  			                    class="btn btn-circle green-haze btn-sm">Update</button>
                            <button type="button" ui-sref="dashboard.containers.schedualClassRoom({ schedualClassRoomId: c })"
  			                    class="btn btn-circle green-haze btn-sm">Schedual</button>
                            <button type="button" ui-sref="dashboard.containers.schedualClassRoomSections({ setSectionPropsByClassRoomId: c.id })"
  			                    class="btn btn-circle green-haze btn-sm">Section Props</button>
			                    </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
