<div  ng-controller="ClassRoomCtrl as ctrl" layout="column" ng-cloak>
  <md-content layout-padding>
      <form name="createClassRoom" data-ng-init="ctrl.initClassRoomForm()">
        <div layout="row">
          <md-input-container flex="50">
            <label>Class Room Name</label>
            <input required name="classRoomName" ng-model="ctrl.classRoom.name">
            <div ng-messages="createClassRoom.classRoomName.$error">
              <div ng-message="required">This is required.</div>
            </div>
          </md-input-container>
        </div>
      </form>
      <div ba-panel>
        <div  class="horizontal-scroll">
          <table class="table table-hover" st-table="ctrl.test" st-safe-src="containerUsers">
            <thead>
            <tr>
      				<th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
      			</tr>
            <tr class="sortable">
              <th class="table-id"></th>
              <th st-sort="name">User Name</th>
              <th st-sort="role">User Role</th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in ctrl.test" class="editable-tr-wrap">
                <td>
                  <span class="ion-checkmark" ng-show="user.containerRoles.length > 0" style="color:rgb(9, 210, 9)"/>
                </td>
                <td><span>{{user.name}}</span></td>
              <td>
                <md-select ng-model="user.containerRoles" aria-label="userRole" placeholder="Not Assigned"
                  style="margin:0px !important" multiple>
                  <md-optgroup label="Roles">
                    <md-option ng-value="containerRole"  ng-selected="ctrl.checkIfSelected(user.containerRoles, containerRole)" ng-repeat="containerRole in user.userRolesInParentContainer">
                      {{containerRole.role.name}}
                    </md-option>
                  </md-optgroup>
                </md-select>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    <div>
      <md-button ng-disabled="createClassRoom.$invalid" ng-click="ctrl.submitClassRoomForm()" >Submit</md-button>
    </div>
</div>
