<div  ng-controller="ContainersPageCtrl as ctrl" layout="column" >
  <md-content layout-padding>
      <form name="createCourse" data-ng-submit="ctrl.submitCourseForm()" data-ng-init="ctrl.initCourseForm()">
        <div layout="row">
        <md-input-container flex="50">
          <label>Course Name</label>
          <input required name="CourseName" ng-model="ctrl.course.name">
          <div ng-messages="createCourse.CourseName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-button type="submit">Submit</md-button>
      </div>
      </form>
    </md-content>
</div>
