<div  ng-controller="ContainerTypesPageCtrl as ctrl" layout="column" >
  <md-content layout-padding>
      <form name="createContainerType" data-ng-submit="ctrl.submitSystemInstanceForm()" data-ng-init="ctrl.initSystemInstanceTypeForm()">
        <div layout="row">
        <md-input-container flex="50">
          <label>Type Name </label>
          <input required name="CTName" ng-model="ctrl.systemInstanceType.name">
          <div ng-messages="createContainerType.CTName.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" flex="50">
            <label>Assigned Container</label>
            <md-select ng-model="ctrl.systemInstanceType.parentContainer">
              <md-option ng-repeat="type in ctrl.systemInstanceHierarchy" ng-selected="type.id == ctrl.systemInstanceType.parentContainer.id" ng-value="type">
                {{type.name}}
              </md-option>
            </md-select>
          </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="50">
          <label>Description </label>
          <input required name="description" ng-model="ctrl.systemInstanceType.description">
          <div ng-messages="createContainerType.description.$error">
            <div ng-message="required">This is required.</div>
          </div>
        </md-input-container>
      </div>
      <div>
        <md-button type="submit">Submit</md-button>
      </div>
      </form>
    </md-content>
</div>
