<!-- <!-- <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />--> -->
<!-- <link href="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/css/bootstrap-timepicker.min.css" rel="stylesheet" /> -->
<!-- <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> --> -->
<!-- <!-- <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> --> -->
<!-- <!-- <script src="https://code.jquery.com/jquery-1.9.1.js"></script> --> -->
<!-- <!-- <script src="https://cdn.jsdelivr.net/bootstrap.timepicker/0.2.6/js/bootstrap-timepicker.min.js"></script> --> -->
<!-- <link rel="stylesheet" type='text/css' href="app/pages/containers/css/theme.css" /> -->
<!-- 					import this file to enable section selection -->
<!-- <script src="bower_components/multiple-range-interface/multiple-range-interface.js"></script> -->

<!-- <div class="tab-pane" id="createContainner" ng-controller="SchedualStructurePageCtrl as ctrl"> -->
<!-- 	<div class="portlet light bordered"> -->
<!-- 		<div class="portlet-body form"> -->
<!-- 			<!-- BEGIN FORM--> -->
<!-- 			<form id="newSchedualStructure" role="form" name="myForm" data-ng-submit="ctrl.submit()" class="horizontal-form" -->
<!-- 				data-ng-init="ctrl.initSchedualStructure()"> -->
<!-- 				<div class="form-body"> -->
<!-- 				<div class="row"> -->
<!-- 				<div class="col-md-4"> -->
<!-- 				<label class="control-label">Day</label> -->
<!-- 				<select class="form-control" data-ng-model="ctrl.currentSchedualStructurePeriod.day" name="schedualStructurePeriodDay" -->
<!-- 				data-ng-options="day for day in ctrl.days" required> -->
<!-- 				<option value="">Select Day</option> -->
<!-- 				</select> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-4"> -->
<!-- 				<label class="control-label">Schedual Period Types</label> -->
<!-- 				<select class="form-control" data-ng-model="ctrl.currentSchedualStructurePeriod.schedualPeriodType"  name="schedualStructurePeriodType" -->
<!-- 				 required> -->
<!-- 				<option value="">Select Schedual Period Types</option> -->
<!-- 				<option value="{{c}}" style="background-color:{{c.color}}" ng-repeat="c in ctrl.schedualPeriodTypes"> -->
<!--         {{c.name}} -->
<!--     		</option> -->
<!-- 				</select> -->
<!-- 				</div> -->
<!-- 				<div class="col-md-4">
<!-- 				<div uib-timepicker ng-model="ctrl.mytime" ng-change="ctrl.changed()" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian"></div> -->
<!-- 				</div> --> -->
<!-- 				<div class="col-md-3"> -->
<!-- 					<label class="control-label">Duration</label> -->
<!-- 					<div class="input-group bootstrap-timepicker timepicker" style="width:80%" > -->
<!-- 					  <input id="timepicker1" maxHours='9' data-ng-model="ctrl.currentSchedualStructurePeriod.duration" type="text" class="form-control input-small" > -->
<!-- 					  <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span> -->
<!-- 					</div> -->
<!-- 				<div class="col-md-6"></div> -->
<!-- 				<div class="col-md-6"></div> -->
<!-- 				</div> -->
<!-- 				</div> -->
<!-- 				<div class="row"> -->
<!-- 					<div class="col-lg-12"> -->
<!-- 						<p> -->
<!-- 							<button class="btn btn-success" ng-click="ctrl.addSection();">Test Add Section</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
<!-- 							<button class="btn btn-success" onclick="$('#range-interface').multipleRangeInterface('addSection');updateJsonText();">Add Section</button>&nbsp; -->
<!-- 							<button class="btn btn-danger" onclick="$('#range-interface').multipleRangeInterface('deleteSection', $('#range-interface').multipleRangeInterface('getSelectedSection').id);updateJsonText();">Delete Selected Section</button> -->
<!-- 						</p> -->
<!-- 					</div> -->
<!-- 					<div class="col-lg-12"> -->
<!-- 						<div id="range-interface" ng-click="ctrl.getSection();"></div> -->
<!-- 					</div> -->
<!-- 					<div class="col-lg-12"> -->
<!-- 						<h2>Data Format</h2> -->
<!-- 						<pre></pre> -->
<!-- 					</div> -->
<!-- 					<script type="text/javascript"> -->
// 						// Initialize multiple-range-interface
// 						$('#range-interface').multipleRangeInterface({
// 																onChange : function() {
// 																	updateJsonText();
// 																},
// 																onSectionClick : function() {
// 																	updateJsonText();
// 																}
// 															});






// 						// Throw in some fancy animation to show how it works...
// 						// $('#range-interface').multipleRangeInterface('addSection').multipleRangeInterface('addSection');

// 					  	$({sectionStart: 0}).animate({sectionStart: 120}, {
// 								duration: 700,
// 					  		easing:'swing', // can be anything
// 							step: function() { // called on every step
// 					   			// Update the element's text with rounded-up value:
// 					   			$('#range-interface').multipleRangeInterface('setValues', {id:1, start: Math.round(this.sectionStart)});
// 					   			updateJsonText();
// 							},
// 							complete: function() {
// 										  	$({sectionStop: 145}).animate({sectionStop: 250}, {
// 									 		duration: 700,
// 									  		easing:'swing', // can be anything
// 											step: function() { // called on every step
// 									   			// Update the element's text with rounded-up value:
// 									   			$('#range-interface').multipleRangeInterface('setValues', {id:1, stop: Math.round(this.sectionStop)});
// 									   			updateJsonText();
// 											},
// 											complete: function() {
// 												$({sectionStart: 0}).animate({sectionStart: 270}, {
// 										 		duration: 700,
// 										  		easing:'swing', // can be anything
// 												step: function() { // called on every step
// 										   			// Update the element's text with rounded-up value:
// 										   			$('#range-interface').multipleRangeInterface('setValues', {id:2, start: Math.round(this.sectionStart)});
// 										   			updateJsonText();
// 												},
// 												complete: function() {
// 															  	$({sectionStop: 295}).animate({sectionStop: 500}, {
// 														 		duration: 700,
// 														  		easing:'swing', // can be anything
// 																step: function() { // called on every step
// 														   			// Update the element's text with rounded-up value:
// 														   			$('#range-interface').multipleRangeInterface('setValues', {id:2, stop: Math.round(this.sectionStop)});
// 														   			updateJsonText();
// 																}
// 										  				});
// 												}
// 										  	});
// 											}
// 					  				});
// 							}
// 					  	});


// 						function updateJsonText() {
// 							$('pre').text(JSON.stringify($('#range-interface').multipleRangeInterface('getValues'), null, 2));
// 						}
<!-- 					</script> -->
<!-- 				</div> -->
<!-- 			</form> -->
<!-- 			<!-- END FORM--> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->
