<div class="tab-pane" id="createContainner" ng-controller="ContainersPageCtrl as ctrl">
  <div class="portlet light bordered">
    <div class="portlet-body form">
        <form id="newContainerForm" name="myForm" data-ng-submit="ctrl.submitSystemInstanceForm()" data-ng-init="ctrl.initSystemInstanceForm()">
          <div layout="row">
          <md-input-container flex="50">
            <label>Container Name </label>
            <input required name="cname" ng-model="ctrl.systemInstance.name" required data-ng-minlength="3">
            <div ng-messages="myForm.cname.$error">
              <!-- <div ng-message="required">This is required.</div> -->
              <div ng-message="minlength">Minimum length required is 3.</div>
            </div>
          </md-input-container>

        </div>
        <div layout="row">
          <md-input-container class="md-block" flex="50">
              <label>Parent Container</label>
              <md-select ng-model="ctrl.systemInstance.parentContainer" >
                <md-option ng-repeat="parentContainer in ctrl.systemInstanceChildsList" ng-value="parentContainer"
                ng-selected="parentContainer.id == ctrl.systemInstance.parentContainer.id" ng-click="ctrl.updateSystemInstancesTypesFiltered(parentContainer)">
                  {{parentContainer.name}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container class="md-block" flex="50">
              <label ng-show="ctrl.systemInstance.parentContainer != null">Container Type</label>
              <!-- <label ng-show="ctrl.systemInstance.parentContainer == null"> Select Parent Container Firstly To Enable Container Type </label> -->
              <md-select ng-model="ctrl.systemInstance.containerType" ng-disabled="ctrl.systemInstance.parentContainer == null" required>
                <md-option ng-repeat="containerType in ctrl.systemInstanceTypesRelatedToSpecificContainer" ng-value="containerType"
                ng-selected="containerType.id == ctrl.systemInstance.containerType.id">
                  {{containerType.name}}
                </md-option>
              </md-select>
            </md-input-container>
        </div>
        <div layout="row">
          <!-- <md-input-container class="md-block" flex="50">
              <label>Start Date</label>
          </md-input-container> -->

          <md-checkbox ng-model="ctrl.systemInstance.suspended" aria-label="suspended" flex="50" >
          Suspended
          </md-checkbox>
        </div>

        <md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="ctrl.systemInstance.address">
        </md-input-container>

    <div class="form-actions right">
      <md-button ng-disabled="myForm.$invalid" type="submit">Submit</md-button>
    </div>
  </form>
</div>
</div>
</div>
