<md-dialog aria-label="Class Room Section">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Class Room Section Properities</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.closeSectionPropsDialog()">
          <md-icon class="ion-ios-close-empty sn-link-close" aria-label="Close dialog"></md-icon>
        </md-button>

        <button type="button" class="close" ng-click="ctrl.closeSectionPropsDialog()" aria-label="Close">
          <em class="ion-ios-close-empty sn-link-close"></em>
        </button>

      </div>
    </md-toolbar>

    <md-dialog-content>

    <div class="md-dialog-content" ng-controller="ClassRoomCtrl as ctrl" ng-init="ctrl.initClassRoomSectionProps()">
       <div class="modal-body">
      <div layout-gt-xs="row">
       <md-content layout-padding style="width: 100%;" >

         <div ng-repeat="sec in ctrl.periodSections" >
           <div ba-panel ba-panel-title={{sec.course.name}}>
             <div id="{{sec.id}}" class="tree-demo"> </div>
           </div>

         </div>


       </md-content>
     </div>

    </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" ng-click="ctrl.saveOrUpdateClassRoomSectionProps()">Save changes</button>
     </div>
   </div>
  </md-dialog-content>
</md-dialog>
