<md-dialog aria-label="Class Room Section">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Class Room Section</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.closeSectionDialog()">
          <md-icon class="ion-ios-close-empty sn-link-close" aria-label="Close dialog"></md-icon>
        </md-button>

        <button type="button" class="close" ng-click="ctrl.closeSectionDialog()" aria-label="Close">
          <em class="ion-ios-close-empty sn-link-close"></em>
        </button>

      </div>
    </md-toolbar>

    <md-dialog-content>

    <div class="md-dialog-content" ng-controller="ClassRoomCtrl as ctrl" ng-init="ctrl.initClassRoomSection()">
       <div class="modal-body">
      <div layout-gt-xs="row">
       <md-content layout-padding style="width: 100%;" >
       <md-select style="width: 30%;" ng-model="ctrl.sectionCourse" ng-change="ctrl.getCourseSection()"  aria-label="Courses List" placeholder="Not Selected">
         <md-optgroup label="Courses">
           <md-option ng-value="course" ng-repeat="course in ctrl.coursesList">
             {{course.name}}
           </md-option>
         </md-optgroup>
       </md-select>
     </md-content>
     </div>
       <table class="table table-hover" st-table="ctrl.test" st-safe-src="sectionUsers">
         <thead>
         <tr>
           <th colspan="5"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
         </tr>
         <tr class="sortable">
           <th class="table-id"></th>
           <th st-sort="name">User Name</th>
           <th st-sort="role">User Role</th>
         </tr>
         </thead>
         <tbody>
           <tr ng-repeat="user in ctrl.test" class="editable-tr-wrap">
             <td>
               <span class="ion-checkmark" ng-show="user.containerRoles.length > 0" style="color:rgb(9, 210, 9)"/>
             </td>
             <td><span>{{user.name}}</span></td>
             <td>
             <md-select ng-model="user.containerRoles" aria-label="userRole" placeholder="Not Assigned"
               style="margin:0px !important" multiple>
               <md-optgroup label="Roles">
                 <md-option ng-value="containerRole" ng-repeat="containerRole in user.containerRolesList">
                   {{containerRole.role.name}}
                 </md-option>
               </md-optgroup>
             </md-select>
           </td>
         </tr>
         </tbody>
         <tfoot>
         <tr>
           <td colspan="6" class="text-center">
             <div st-pagination="" st-items-by-page="10" st-displayed-pages="5"></div>
           </td>
         </tr>
         </tfoot>
       </table>


       </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-primary" ng-click="ctrl.saveOrUpdateClassRoomSection()">Save changes</button>
     </div>
   </div>
  </md-dialog-content>
</md-dialog>
