<div class="row" data-ng-controller="UsersPageCtrl as ctrl">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body"  data-ng-init="ctrl.fetchAllUsers()">
                <table class="table table-bordered table-hover table-checkable order-column" id="listUsers">
                    <thead>
                        <tr>
                      		<th> ID </th>
                            <th> Username </th>
                            <th>Name</th>
                            <th>Password</th>
                            <th>Controls</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd gradeX" ng-repeat="u in ctrl.users">
                            <td> <span data-ng-bind="u.id"></span></td>
                            <td> {{u.userName}} </td>
                            <td> {{u.name}} </td>
                            <td> {{u.password}} </td>
                            <td>
    			                    <button type="button" ui-sref="dashboard.users.updateUser({ updateUser: u })"
    			                    class="btn btn-circle green-haze btn-sm">Update</button>
			                     </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
<button class="btn btn-primary" ui-sref="login">login</button>
<button type="button" ui-sref="login" class="btn btn-circle green-haze btn-sm">Update</button>
