<div class="tab-pane" id="createUser" ng-controller="UsersPageCtrl as ctrl">
	<div class="portlet light bordered">
		<div class="portlet-title">
			<div class="tools">
				<a href="" class="collapse"> </a> <a href="#portlet-config" data-toggle="modal" class="config"> </a>
				<a href="" class="reload"> </a>
				<a href="" class="remove"> </a>
			</div>
		</div>
		<div class="portlet-body form">
			<form role="form" name="userForm" data-ng-submit="ctrl.submitUserForm()" class="horizontal-form" data-ng-init="ctrl.initiateUserForm()">

				<div layout="row">
				<md-input-container flex="50">
					<label>Full Name </label>
					<input required name="fName" ng-model="ctrl.user.name" required data-ng-minlength="3">
					<div ng-messages="userForm.fName.$error">
						<!-- <div ng-message="required">This is required.</div> -->
						<div ng-message="minlength">Minimum length required is 3.</div>
					</div>
				</md-input-container>
				<md-input-container flex="50">
					<label>User Name </label>
					<input required name="uName" ng-model="ctrl.user.userName" required data-ng-minlength="3">
					<div ng-messages="userForm.uName.$error">
						<!-- <div ng-message="required">This is required.</div> -->
						<div ng-message="minlength">Minimum length required is 3.</div>
					</div>
				</md-input-container>
				</div>

				<div layout="row">
					<md-input-container class="md-block" flex-gt-sm>
		        <label>Password</label>
		        <input type="password" name="password" ng-model="ctrl.user.password" required />
		        <div ng-messages="userForm.password.$error" role="alert" class="form-errors first-name-error">
		             <div ng-message="required">Password is required.</div>
		        </div>
		     </md-input-container>

		     <md-input-container class="md-block" flex-gt-sm>
		        <label>Confirm Password</label>
		        <input type="password" name="confirm_password" ng-model="ctrl.user.confirmPassword" required compare-to="ctrl.user.password" />
		         <div ng-messages="userForm.confirm_password.$error" role="alert" class="form-errors first-name-error">
		             <div ng-message="compareTo">Must not match</div>
		         </div>
		    </md-input-container>

				</div>

				<div layout="row">
					<md-radio-group ng-model="ctrl.user.gender" flex="50">
						<table>
							<tr>
								<th><md-radio-button value="0" class="md-primary"> Male </md-radio-button></th>
								<th><md-radio-button value="1"> Female </md-radio-button></th>
							</tr>
						</table>
		    	</md-radio-group>
					<md-checkbox ng-model="ctrl.user.suspended" aria-label="suspended" flex="50" >
          Suspended
          </md-checkbox>
				</div>

				<div layout="row">
					<md-input-container flex="50">
		        <label>Email</label>
		        <input ng-model="ctrl.user.email" type="email">
		      </md-input-container>
					<md-input-container flex="50">
		        <label>Date Of Birth</label>
		      </md-input-container>
				</div>

				<md-input-container class="md-block">
          <label>Address</label>
          <input ng-model="ctrl.user.address">
        </md-input-container>

				<h3 class="form-section">Roles To User</h3>
				<div class="row">
					<div class="col-md-12 ">
						<div class="form-group">
						<div id="allContainersAndThierRoles" class="tree-demo"> </div>
						</div>
					</div>
				</div>

				<div class="form-actions right">
					<button type="button" class="btn default">Cancel</button>
					<button type="submit" class="btn blue">
						<i class="fa fa-check"></i> Save
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
